{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ entry }}
{% endblock %}

{% block body %}
    <h1>Edit {{ entry }}</h1>
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        <div>
            <textarea name="content" id="content" cols="30" rows="10" aria-label="Text field to edit content of page">{{content}}</textarea>
            <input type="hidden" name="entry" value="{{entry}}">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}